{% extends "layout.html" %}

{% block content %}
  <h1>About</h1>

  <p>
    This site is the final application in
    <a href="https://www.learnenough.com/python-tutorial"><em>Learn Enough Python
    to Be Dangerous</em></a>
    by <a href="https://www.michaelhartl.com/">Michael Hartl</a>,
    a tutorial introduction to the
    <a href="https://www.python.org/">Python programming language</a> that
    is part of
    <a href="https://www.learnenough.com/">LearnEnough.com</a>.
  </p>
{% endblock %}
